body{
    font-family: Georgia;
    background: #ccc;
    margin: 0 auto;
  }

.main{
  width: 70%;
  padding: 0 10px;
  margin: 0 auto;
  background: #404040;
  height: 40px;
  border-radius: 3px;
  padding-left: 0;
}

/* Logo style start */
.logo{
  float: left;
  text-align: center;
  margin: 0 auto;
  color: black;
  background: beige;
  border-radius: 45px;
  letter-spacing: -2px;
  font-style: italic;
  width: 90px;
  height: 39px;
  border-bottom: solid 1px black;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
}
/* Logo style end */

/* Navigation bar style start */
header nav{
  float: right;
  margin-right: 30px;
}

header nav ul{
  margin: 10px auto;
}

header nav li{
  float: right;
  list-style-type: none; 
  margin: 0 20px;
  width: 80px;
  text-align: center;
}

header nav li a{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

header nav li a:hover{
  color: #000;
  background-color: #fff;
  border-radius: 4px;
}

header nav:after,  header nav li:after{
  clear: both;
  display: block;
  content: "";
}
/* Navigation bar style end */

.main-content{
  width: 70%;
  background: #ddd;
  margin: 2px auto;
  height: 100vh;
  padding-top: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.current{
  background: white;
  width: 80px;
  text-align: center;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 30px;
}

.current > a{
  color: black;
}

.banner{
  text-align: center;
  color: crimson;
  margin-bottom: 50px;
}

.details-form{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.details-form label{
  padding: 0;
  float: left;
  width: 45%;
  margin: 20px 0 15px 10%;
}

.details-form input{
  padding: 0;
  float: left;
  width: 29%;
  margin: 20px 15% 15px 0;
}

input[type="submit"]{
  clear: both;
  width: 10%;
  height: 30px;
  margin: 30px 45%;
}

/* Stats page specific code */

.prev, .curr{
  padding-left: 40px;
  font-size: 18px;
  cursor: pointer;
}

.prev{
  margin-top: 50px;
}

.curr{
  margin-top: 10px;
}

.prev-items, .curr-items{
  background: 404040;
  margin: 0 20px;
  height: auto;
  padding-top: 5px;
}

.arrow-down {
  width: 0; 
  height: 0;
  margin-top: 6px;
  margin-left: 16px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #000;
  float: left;
}

.arrow-right {
  width: 0; 
  height: 0;
  margin-top: 3px;
  margin-left: 19px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid #000;
  float: left;
}

.arrow-down:after{
  clear: both;
  display: block;
  content: "";
}

.items{
  list-style-type: none;
  padding: 0;
}

.items li{
  border: 1px solid black;
  border-bottom: 0px;
  width: 100%;
  margin: 0 auto;
}

.items a{
  text-decoration: none;
  color: #000;
  display: block;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.items li:nth-child(odd){
  background: #addfad;
}

.items li:nth-child(even){
  background: #90EE90;
}
/* Stats page end */


/* Details page start */

.details-body{
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
}

.details-body h1{
  text-align: center;
  color: crimson;
  font-size: 30px;
  font-weight: bold;  
  margin-bottom: 50px;
}

.details-list{
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.details-list li{
  float: left;
  width: 35%;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
}

.details-list li:nth-child(odd){
  margin: 15px 0 15px 15%;
}

.details-list li:nth-child(even){
  margin: 15px 15% 15px 0;
}

.details-list:after{
  content: "";
  display: block;
  clear: both;
}
/* Details page end */

/* Small screen adjustments */
@media screen and (max-width: 760px){
  .details-form label, .details-form input{
    float: none;
    width: 96%;
    margin: 20px 2% !important;
  }
}

@media screen and (max-width: 590px){
  .main, .main-content{
    width: 100%;
  }

  .main{
    padding: 0;
    height: 80px;
  }

  .logo{
    width: 100%;
  }

  .current{
    margin: 10px;
    position: absolute;
    top: 40px;
    left: 15%;
  }

  .inactive{
    margin: 10px;
    position: absolute;
    top: 40px;
    left: 60%;
  } 
  
}

/* Prevent details list from going out of alignment
   when viewport is small */
@media screen and (max-width: 1076px){
  .details-list li{
    float: none;
    width: 96%;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    margin: 15px 2% !important;
  }
}