<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="icon" href="/assets/favicon.ico">
  <script src="/scripts/jquery-3.6.0.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script> -->
  <title>IDK Fuzzer</title>
</head>

<body class="details-body">
    <h1>
        Summary of job <%= name %>
    </h1>
    <ul class="details-list">
      <li> Name: Sourag asdas</li>
      <li> TYpe: Job adasd asd</li>
      <li> Started: who know</li>
      <li> Number of containers: 150</li>
      <li> Duration: verthe</li>
      <li> Name: Sourag </li>
      <li> TYpe: Job</li>
      <li> Started: who knows</li>
      <li> Number of containers: 150</li>
      <li> Duration: verthe</li>
      <li> Name: Sourag </li>
      <li> TYpe: Job</li>
      <li> Started: who knows</li>
      <li> Number of containers: 150</li>
    </ul>
    <script src=/scripts/script-details.js></script>
</body>

</html>